$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #FF69B4;
$chelsea-cucumber: #aa759f;
$cod-grey: #151515;
$conifer:  #aa759f;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;
