<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    {% if page.title == "makine-cozumler" %}
    <link rel="stylesheet" href="{{ '/assets/css/makine-cozumleri.css?v=' | relative_url }}">
    {% endif %}
    
    {% include head-custom.html %}
    {% seo %}
  </head>

  <body>

    <header>
      <div class="container header-flex">
        
        <!-- Sol: Site Başlığı -->
        <div class="site-title">
          <a id="a-title" href="{{ site.baseurl }}">
            <h1>nzyhacks</h1>
          </a>
        </div>

        <!-- Sağ: Menü -->
        <nav class="header-menu">
          <ul>
            <!-- Ana Sayfa -->
            <li><a href="{{ site.baseurl  }}/">Ana Sayfa</a></li>

            <!-- Çözümler Dropdown Menüsü -->
            <li class="dropdown">
              <a href="{{ site.baseurl }}/cozumler">Çözümler</a>
              <ul class="dropdown-content">
                <li><a href="{{ site.baseurl }}/makine-cozumler">Makine Çözümleri</a></li>
                <li><a href="{{ site.baseurl  }}/modul-cozumler">Modül Çözümleri</a></li>
              </ul>
            </li>

            <!-- İletişim -->
            <li><a href="{{ site.baseurl }}/iletisim">İletişim</a></li>

            <!-- Hakkında (Opsiyonel) -->
            <li><a href="{{ site.baseurl }}/hakkinda">Hakkında</a></li>
          </ul>
        </nav>

      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    
  </body>
</html>
